:root {
	--white: #fff;
	--grey: #ddd;
	--border: 1px solid var(--grey);

	font-family: system-ui, sans-serif;

	--black: #191919;
	--tan: #f5eeda;
	--hot: #ff45a8;
	--teal: #00fff5;
	--white: #f0efea;
	--yellow: #fabf47;
	--purp: #6e47ae;
	--pink: #ef467d;
	--red: #f3370e;
	--blue: #226dfc;

	--primary: var(--yellow);
	--accent: var(--teal);
	--error: var(--red);
}

@font-face {
	font-family: 'TickingTimebombBB';
	src:
		url('/font/TickingTimebombBB.woff') format('woff'),
		url('/font/TickingTimebombBB.woff2') format('woff2'),
		url('/font/TickingTimebombBB.svg#TickingTimebombBB') format('svg'),
		url('/font/TickingTimebombBB.eot'),
		url('/font/TickingTimebombBB.eot?#iefix') format('embedded-opentype'),
		url('/font/TickingTimebombBB.ttf') format('truetype');

	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {
	min-height: 100vh;
	scrollbar-width: none;
	margin: 0;
	> div {
		min-height: 100vh;
	}
}

iframe {
	padding: 0.75rem;
	background: var(--white);
	width: 100%;
	height: 100%;
	border: var(--border);
}

.stack {
	min-height: 0;
	display: flex;
	flex-direction: column;
	gap: var(--stack-gap, 10px);
	> * {
		margin: 0;
	}
}

input {
	background: transparent;
	color: var(--white);
	border: solid 1px rgb(255 255 255/ 0.4);
	border-radius: 4px;
	padding: 4px 8px;
}

.go_button {
	background: var(--red);
	border: 0;
	padding: 8px 40px;
	box-shadow: 0 3px 5px hsl(from #1c55fc h s 30 / 0.2);
	box-shadow: 1px -4px rgb(255 255 255/ 0.1) inset;
	text-shadow: 0.5px 0.5px 1px rgb(0 0 0 / 0.3);
	&:hover {
		background: hsl(from var(--red) h s 62%);
	}
	&:active {
		box-shadow: 0px 3px 8px rgb(0 0 0 / 0.3) inset;
		background: hsl(from var(--red) h s 30%);
		position: relative;
	}
}

.disabled {
	filter: grayscale(100%);
	opacity: 0.7;
	pointer-events: none;
}

.big_button {
	font-size: 40px;
}

.red {
	background: var(--red);
	&:hover {
		background: hsl(from var(--red) h s 62%);
	}
	&:active {
		background: hsl(from var(--red) h s 30%);
	}
}

wa-rating {
	--symbol-color: rgb(255 255 255 / 0.6);
	--symbol-color-active: var(--yellow);
}

.splitpanes__splitter {
	background-color: var(--black) !important;
}

.default-theme.splitpanes--vertical > .splitpanes__splitter,
.default-theme.splitpanes--horizontal > .splitpanes__splitter {
	border-color: rgb(255 255 255 / 0.2) !important;
}

.stack {
	display: flex;
	flex-direction: column;
	gap: var(--gap, 20px);
	> * {
		margin: 0;
	}
}

label {
	display: block;
	margin-bottom: 0.5rem;
}

table {
	font-size: 14px;
}
